:root {
  --branding-color: #e57474;
  --3rd-color: #cb3c3c;
  --4th-color: #ad8787;
  --2nd-color: #f5fff8;
  --5th-color: #7ea4c9a1;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Roboto", sans-serif;
  --alt-font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--4th-color);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../src/images/masks.jpg);
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../src/images/catshorizontal.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  color: white;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  margin-top: 120px;
}
header h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 900;
  font-family: var(--default-font-family);
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
}
header a,
.introduction a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--default-font-family);
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--branding-color);
  padding: 16px 32px;
  border-radius: 100px;
  gap: 10px;
  margin-bottom: 20px;
  transition: all 100ms ease-in-out;
}
.introduction a {
  background-color: #c77a7a;
}

header a:hover,
.introduction a:hover {
  color: white;
  background-color: #872a2a;
}
.grid {
  display: grid;
}
.two-columns-grid {
  grid-template-columns: 1fr 1fr;
}
.footer-grid {
  grid-template-columns: 1fr 2fr;
  margin-right: 20px;
}

main h3 {
  color: var(--3rd-color);
  font-family: var(--alt-font-family);
  font-size: 13px;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
main h2 {
  color: var(--3rd-color);
  font-family: var(--alt-font-family);
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.introduction p {
  font-family: var(--default-font-family);
  color: black;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 25px;
}

.introduction {
  margin: 150px 100px 20px 100px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
main {
  background-color: var(--2nd-color);
}

main a {
  display: inline-flex;
  margin-top: 25px;
}
.directions h3 {
  font-size: 35px;
  margin: 20px 0px 40px 0px;
  text-align: center;
}
.directions {
  font-family: var(--default-font-family);
  color: rgb(100, 96, 96);
  opacity: 0.9;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.directions-text {
  padding: 40px 30px 40px 50px;
  max-width: 600px;
}
.church {
  font-weight: 600;
  opacity: 0.9;
}
.church-address {
  text-decoration: underline;
}
.station a {
  text-decoration: underline;
  color: var(--3rd-color);
}
iframe {
  margin-top: 30px;
}
footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../src/images/catshorizontal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 90px 40px 90px;
}

footer h3 {
  font-size: 23px;
  font-weight: 700;
  font-family: var(--heading-font-family);
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--alt-font-family);
}
footer a {
  color: #ffffff;
  opacity: 0.9;
  font-family: var(--alt-font-family);
  font-size: 14px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer li {
  padding: 5px 0;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
    line-height: 1;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 13px;
  }
  header a,
  main a {
    padding: 8px 16px;
    font-size: 11px;
  }
  main h2 {
    font-size: 30px;
  }
  main p {
    font-size: 14px;
  }
  .introduction {
    margin: 100px 20px 0px 20px;
  }

  footer {
    padding: 20px 4px 20px 40px;
  }
  footer p {
    font-size: 11px;
  }
  footer h3 {
    font-size: 16px;
  }
}

@media (max-width: 880px) {
  .two-columns-grid,
  .three-columns-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .three-columns-grid {
    margin: 0px 20px;
  }
  main img {
    display: none;
  }
  .podcasts {
    background-image: none;
  }
  .alt-picture {
    display: block;
    margin-bottom: 20px;
  }
  .introduction {
    margin: 30px 10px 0px 10px;
  }
}
@media (max-width: 400px) {
  header {
    padding: 50px 0;
    line-height: 1;
  }
  header h1 {
    font-size: 28px;
  }
  header h2 {
    font-size: 12px;
  }
  header h3 {
    font-size: 10px;
  }
  main p {
    font-size: 12px;
  }
}
