:root {
  --branding-color: #e57474;
  --3rd-color: #cb3c3c;
  --4th-color: #ad8787;
  --2nd-color: #f2ffff;
  /* --2nd-color: #dfecf7; */

  --5th-color: #7ea4c9a1;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Roboto", sans-serif;
  --alt-font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--4th-color);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../src/images/masks.jpg);
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../src/images/catshorizontal.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  color: white;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  margin-top: 120px;
}
header h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 900;
  font-family: var(--default-font-family);
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
}
header a,
.introduction a,
.accomodation a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--default-font-family);
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--branding-color);
  padding: 16px 32px;
  border-radius: 100px;
  gap: 10px;
  margin-bottom: 20px;
  transition: all 100ms ease-in-out;
}
.introduction a,
.accomodation a {
  background-color: #c77a7a;
}

header a:hover,
.introduction a:hover,
.accomodation a:hover {
  color: white;
  background-color: #872a2a;
}
.accomodation a {
  margin-top: 40px;
}
.grid {
  display: grid;
}
.two-columns-grid {
  grid-template-columns: 1fr 1fr;
}
.footer-grid {
  grid-template-columns: 1fr 2fr;
  margin-right: 20px;
}

main h3 {
  color: var(--3rd-color);
  font-family: var(--alt-font-family);
  font-size: 13px;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
main h2 {
  color: var(--3rd-color);
  font-family: var(--alt-font-family);
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.introduction p {
  font-family: var(--default-font-family);
  color: black;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 25px;
}

.introduction {
  margin: 150px 100px 20px 100px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
main {
  background-color: var(--2nd-color);
}

main a {
  display: inline-flex;
  margin-top: 25px;
}
.directions h3 {
  font-size: 35px;
  margin: 20px 0px 40px 0px;
  text-align: center;
}
.directions {
  font-family: var(--default-font-family);
  color: rgb(100, 96, 96);
  opacity: 0.9;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.directions-text {
  padding: 40px 30px 40px 50px;
  max-width: 600px;
}
.church {
  font-weight: 600;
  opacity: 0.9;
}

.church-address a {
  text-decoration: underline;
  color: rgb(100, 96, 96);
}
.station a {
  text-decoration: underline;
  color: var(--3rd-color);
}
iframe {
  margin-top: 30px;
}
footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../src/images/catshorizontal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 110px 80px 110px 120px;
}

footer h3 {
  font-size: 23px;
  font-weight: 700;
  font-family: var(--heading-font-family);
  margin-bottom: 17px;
}
footer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--alt-font-family);
}
footer a {
  color: #ffffff;
  opacity: 0.9;
  font-family: var(--alt-font-family);
  font-size: 15px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer li {
  padding: 5px 0;
}

/* responsiveness */
.responsiveness-insert-picture {
  display: none;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  header {
    padding: 150px 0;
  }
  header h1 {
    font-size: 80px;
    letter-spacing: 2px;
  }
  header h2 {
    font-size: 20px;
    letter-spacing: 3px;
  }
  main h2 {
    font-size: 20px;
  }
  .introduction p {
    font-size: 13px;

    line-height: 19px;
    margin-top: 15px;
  }
  .introduction {
    margin: 40px 30px 20px 50px;
  }
  .directions h3 {
    font-size: 25px;
    margin: 15px 0px 30px 0px;
  }
  .directions {
    font-size: 13px;
    line-height: 19px;
  }
  .directions-text {
    padding: 40px 30px 40px 50px;
    max-width: 450px;
  }
  iframe {
    margin-top: 30px;
    width: 350px;
    height: 200px;
  }
  footer {
    padding: 70px 60px 100px 100px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 850px;
  }
  header {
    padding: 120px 0;
  }
  header h1 {
    font-size: 70px;
    letter-spacing: 2px;
  }
  header h2 {
    font-size: 20px;
  }
  main h2 {
    font-size: 20px;
  }
  .introduction p {
    font-size: 12px;
    line-height: 17px;
    margin-top: 12px;
  }
  .introduction {
    margin: 40px 30px 20px 50px;
  }
  .directions h3 {
    font-size: 20px;
    margin: 15px 0px 30px 0px;
  }
  .directions {
    font-size: 12px;
    line-height: 17px;
  }
  .directions-text {
    padding: 40px 30px 40px 50px;
    max-width: 450px;
  }
  iframe {
    margin-top: 15px;
    width: 300px;
    height: 150px;
  }
  footer {
    padding: 50px 40px 60px 80px;
  }
}
.foot-note p {
  padding: 20px;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

/* .two-columns-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .responsiveness-remove-picture {
    display: none;
  }
  .responsiveness-insert-picture {
    display: block; */
/* position: relative;
    top: -80px;
    left: 400px; */
/* } */
/* 
@media (max-width: 850px) {
  .container {
    max-width: 600px;
  }
  .intro .two-columns-grid {
    grid-template-columns: 2fr 1fr;
  }
  .responsiveness-remove-picture {
    display: none;
  }
  .responsiveness-insert-picture {
    display: block;
  }
  .two-columns-grid {
    grid-template-columns: 2fr 1fr;
  }

  header {
    padding: 20px 0;
  }
  header h1 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  header h2 {
    font-size: 8px;
    letter-spacing: 1px;
  }
  header a {
    display: none;
  }
  main h2 {
    font-size: 18px;
  }
  .introduction h2 {
    margin-bottom: 25px;
  }
  .introduction p {
    font-size: 11px;
    margin-top: 13px;
  }
  .introduction a {
    font-size: 11px;
    margin: 20px 20px 20px 45px;
  }
  .introduction {
    margin: 40px 40px 30px 40px;
  }
  .directions h3 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 15px 0px 30px 0px;
    text-align: left;
  }
  .directions {
    font-size: 11px;
    line-height: 19px;
  }
  .directions-text {
    padding: 20px 20px 20px 30px;
    max-width: 450px;
  }
  .accomodation a {
    margin-left: 50px;
    font-size: 14px;
  }
  iframe {
    margin-top: 20px;
    margin-bottom: 7px;
    width: 200px;
    height: 100px;
  }
  footer {
    padding: 70px 60px 50px 50px;
  }
  footer a {
    font-size: 10px;
  }
  footer li {
    padding: 0;
  }
  footer h3 {
    font-size: 14px;
  }
  footer p {
    font-size: 8px;
  }
  .accomodation a {
    display: none;
  }
} */

/* mobile responsiveness */

@media (max-width: 453px) {
  .two-columns-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .responsiveness-remove-picture {
    display: none;
  }
  .responsiveness-insert-picture {
    display: block;
    /* position: relative;
    top: -80px;
    left: 400px; */
  }
  .container {
    max-width: 370px;
  }
  header {
    padding: 20px 0;
  }
  header h1 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  header h2 {
    font-size: 8px;
    letter-spacing: 1px;
  }
  header a {
    display: none;
  }
  main h2 {
    font-size: 18px;
  }
  .introduction h2 {
    margin-bottom: 25px;
  }
  .introduction p {
    font-size: 11px;
    margin-top: 13px;
  }
  .introduction a {
    font-size: 11px;
    margin: 20px 20px 20px 45px;
  }
  .introduction {
    margin: 40px 40px 30px 40px;
  }
  .directions h3 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 15px 0px 30px 0px;
    text-align: left;
  }
  .directions {
    font-size: 11px;
    line-height: 19px;
  }
  .directions-text {
    padding: 20px 20px 20px 30px;
    max-width: 450px;
  }
  .accomodation a {
    margin-left: 50px;
    font-size: 14px;
  }
  iframe {
    margin-top: 20px;
    margin-bottom: 7px;
    width: 200px;
    height: 100px;
  }
  footer {
    padding: 70px 60px 50px 50px;
  }
  footer a {
    font-size: 10px;
  }
  footer li {
    padding: 0;
  }
  footer h3 {
    font-size: 14px;
  }
  footer p {
    font-size: 8px;
  }
}
